@media screen and (max-width:770px) {

    
    ul{     
    position: absolute;
    right: -1000px;
    }

    li{
        font-size: 40px;
    }

    .telephone{
        margin-left: 1700px;
    }

    .column{
        position: absolute;
        right: -100px;
    }

    .column--moitie{
        margin-left: 1900px;
        margin-top: 100px;
    }

    .biography, .a2 {
        margin-left: 200px;
    }

    h3 {
        font-size: 60px;
    }

    .column--moitie p , .a2{
        font-size: 30px;
    }

    .we-are{
        position: absolute;
        right: -100px;
        top: 1500px;
    }

    .articleFlex{
        padding-top: 100px;
    }

    .contain{
        margin-right: -180px;
    }

    .images{
        height: 500px;
        width: 400px;
    }
    
    .contain-titre{
        font-size: 30px;
    }

    .center-center{
        width: 250%;
    }

    .pricing, .package{
        font-size: 50px;
    }

    .dollar{
        font-size: 50px;
    }

    .see-details{
        font-size: 30px;
    }

    .newsletter, .news{
        width: 230%;
        font-size: 50px;
    }

    button{
        width: 250%;
        font-size: 30px;
    }

    #email{
        width: 500px;
        height: 100px;
    }

    footer{
        width: 250%;
    }

    .text-footer, .tittle-footer{
        font-size: 20px;
    }
}