@media screen and (max-width:380px) {
    .column{
        margin-left: 100px;
    }

    .performance{
        font-size: 30px;
    }

    .a1{
        font-size: 40px;
        margin-left: 50px;
    }
    
    .articleFlex{
        padding-top: 300px;
    }

    .we-are{
        position: absolute;
        right: -350px;
        top: 1900px;
    }

    .contain{
        margin-right: -150px;
    }

    .images{
        margin-left: 150px;
    }

    .services, h4{
        font-size: 40px;
        margin-left: 450px;
    }

    .center-center{
        width: 400%;
    }

    .news, .newsletter{
        margin-left: 300px;
    }

    #email{
        width: 600px;
        margin-left: -200px;
    }

    button {
        width: 300px;
        margin-left: -50px;
    }

    footer{
        width: 400%;
    }
}