.biography{
    font-family: Lobster;
    font-size: 20px;
    font-style: Regular;
    color: $blue;
    padding-right: 420px;
}

.contain-titre{
    font-family: Poppins;
    font-size: 18px;
    font-style: SemiBold;
    padding-top: 25px;
    padding-left: 20px;
}

.contain-soustitre{
    font-family: Lato;
    font-size: 15px;
    font-size: Regular;
    padding-top: 25px;
    padding-bottom: 35px;
    padding-left: 20px;

}

.pricing{
    font-family: Lobster;
    font-size: 20px;
    font-style: regular;
    text-align: center;
    color: $blue;
    padding-top: 150px;
}

.package{
    font-family: Lobster;
    font-size: 28px;
    font-style: regular;
    text-align: center;
    padding-top: 50px;
}

.dollar{
    font-family: Poppins;
    font-style: SemiBold;
    font-size: 30px;
    color: $dark-blue;
    text-align: center;
    padding-bottom: 30px;
}

.newsletter{
    font-family: Lobster;
    font-size: 20px;
    font-style: regular;
    color: $blue;
    text-align: center;
    padding-top: 150px;
}

.news{
    font-family: Poppins;
    font-size: 32px;
    font-style: regular;
    text-align: center;
}

.stay{
    font-family: Poppins;
    font-size: 31px;
    font-style: medium;
    margin-left: 200px;
    color: $white;
}

.tittle-footer{
    font-size: 20px;
    font-family: Poppins;
    font-style: medium;
    padding-bottom: 20px;
    padding-top: 110px;
    color: $white;
}

.text-footer{
    font-family: Poppins;
    font-size: 16px;
    font-style: Regular;
    padding-top: 10px;
    color: $white;
}

.services{
    font-family: Lato;
    font-size: 25px;
    font-style: Regular;
    color: #7E76F9;
}