* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration:  none;
}

li,
ul {
    list-style: none;
}

p,
button {
    cursor: pointer;
}

body {
    background-color: #F6F6F9;
    
  }