.social {
    font-size: 50px;
    font-family: Poppins;
    font-style: regular;
}

.performance{
    font-size: 16px;
    font-family: Poppins;
    font-style: light;
}

.special{
    font-style: bold;
}