h1{
    font-family: Dosis;
    font-size: 40px;
    font-style: bold;
    padding-top: 40px;
    padding-left: 20px;
}

h3{
    font-family: Poppins;
    font-size: 50px;
    font-style: semiBold;
    padding-right: 200px;
}

h4{
    font-family: Poppins;
    font-size: 50px;
    font-style: SemiBold;
}

h5{
    font-family: Poppins;
    font-size: 50px;
    font-style: SemiBold;
    text-align: center;
}

h6{
    font-family: Dosis;
    font-size: 50px;
    font-style: ExtraBold;
    margin-left: 250px;
    padding-top: 100px;
    color: white;
}